html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  color: #222222;
  line-height: 1.6;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

nav {
  margin: 1.6em;
}

pre {
  white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  background: none;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0px;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  border-bottom: 1px solid #a2a9b1;
}

h1, h2 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  line-height: 1.3;
  margin-bottom: 0.25em;
  padding: 0;
}

h3, h4, h5, h6 {
  border-bottom: 0;
  font-weight: bold;
}

h1 {
  font-size: 1.8em;
}

h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  line-height: inherit;
  margin: 0.5em 0;
}

.content {
  margin: 2em 0;
  border: 1px solid #a7d7f9;
  border-right: none;
  background-color: white;
  padding: 1.25em 1.5em 1.5em 1.5em;
  flex-grow: 10000;
}

.content-nav {
  font-size: 0.5em;
  font-family: sans-serif;
  float: right;
}

.body {
  font-size: 0.875em;
  position: relative;
}

a.external::after {
  content: " 🔗";
  text-decoration: none;
  display: inline-block;
  margin-left: 2px;
  position: relative;
  bottom: 4px;
  font-size: 0.9em;
}

.image {
  border: 1px solid #c8ccd1;
  padding: 3px;
  background-color: #f8f9fa;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
  width: 300px;
  margin: 0.5em 0 1.3em 1.4em;
  float: right;
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;
}

a:visited {
  color:#0b0080;
}

a:active {
  color:#faa700;
}

a:hover, a:focus {
  text-decoration: underline;
}

.image .caption {
  text-align: left;
}

.brand, .brand:hover, .brand:focus, .brand:active, .brand:visited {
  text-decoration: none;
  font-family: monospace;
  font-size: 1.5em;
  color: inherit;
  padding-bottom: 1.5em;
  display: block;
  text-align: center;
}

nav > * {
  font-size: 0.875em;
}

nav > a {
  display: block;
}

ref {
  vertical-align: super;
  font-size: smaller;
}

ref::before {
  content:"[";
}

ref::after {
  content:"]";
}
