html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  color: #222222;
  line-height: 1.6;
}

pre {
  white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  background: none;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0px;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  border-bottom: 1px solid #a2a9b1;
}

h1, h2 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  line-height: 1.3;
  margin-bottom: 0.25em;
  padding: 0;
}

h3, h4, h5, h6 {
  border-bottom: 0;
  font-weight: bold;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  line-height: inherit;
  margin: 0.5em 0;
  font-size: 0.875em;
}
